doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.4.5.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.mobile-1.4.5.min.js')
  body
    block content